* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.texted::after {
  content: " this text is from css, but i assign it to an ::after from class, then i use js to assign the 'texted' class to the element. ";
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.cadetblue-bg {
  background-color: cadetblue;
  padding: 0.5rem;
  color: whitesmoke;
}

.salmon-bg {
  background-color: salmon;
  padding: 0.5rem;
  color: whitesmoke;
  font-weight: bolder;
}

#grey-bg {
  background-color: grey;
  padding: 0.5rem;
  color: whitesmoke;
  font-weight: bolder;
}
